.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bccab3;
}

.title a {
    font-family: Helvetica, sans-serif;
    color: #ffda03;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 7.6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #432616;
    text-align: center;
}


.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
    color: #355e3b;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    text-decoration: none;
    color: #355e3b;
    border: 5px solid #355E3B;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    color: #ffda03;
    border-color: #ffda03;
}

.card h3 {
    margin: 0 0 1rem 0;
    color: #355e3b;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #355E3B;
}

.logo {
    height: 1em;
}

.bg {
    background-color: #f3a712;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
